RewriteEngine on

RewriteCond %{HTTP_HOST} ^coe\.bpadjogja\.info$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.coe\.bpadjogja\.info$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www\.bpad\.jogjaprov\.go\.id\/coe$ [NC]
RewriteRule ^(.*)$ "http\:\/\/bpad\.jogjaprov\.go\.id\/coe\/$1" [R=301,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php