


/* Accent Text Colors */

	.colored,
	.team-boxes .member-details h5,
	ul.mobile-boxes li div.mobile-icon a,
	ul.mobile-boxes li .buttons span.second-icon,
	footer a:hover,
	.second-nav .nav-menu ul li.active > a,
	.relative-nav .nav a:hover,
	.relative-nav .nav li.active a,
	footer .copyright_link:hover,
	.white-nav .nav-menu ul.dropdown-menu li a:hover,
	.dark-nav .nav-menu ul.dropdown-menu .submenu_column a:hover,
	.navigation ul li a:hover,
	#team.type-2 .team-boxes .member-details .socials a:hover,
	#navigation-type2.dark-nav .nav-menu ul li a:hover,
	#navigation-type2.white-nav .nav-menu ul li a:hover,
	#navigation-type2.white-nav .nav-menu ul li.active a,
	#navigation-type2.dark-nav .nav-menu ul li.active a,
	.content .gray-bg-2 .texts p i,
	ul.moving-items .box:hover span.icon,
	footer.big-footer #latest_tweets ul li a,
	#page-header .page_header_inner a:hover,
	footer .copyright a,
	#shop .single_item_details .right .panel a:hover,
	.post .dates .details ul li a:hover,
	#blog.masonry-blog .item .item_button:hover,
	#shop .box .item_details .price,
	#features-mobile .f-collapse div p a:hover,
	.timelineFlat a.t_line_node.active,
	section#features .feature-boxes.type-3 .feature-box:hover .feature-icon,
	body.dark-layout .feature-boxes.type-3 .feature-box:hover .feature-text h4,
	.feature-boxes.type-3 .feature-box:hover .feature-icon,
	body.dark-layout .feature-boxes.type-3 .feature-box:hover .feature-icon,
	.feature-boxes.type-3 .feature-box:hover .feature-text h4,
	.btn.border-btn.btn-accent,
	.post-header a:hover,
	.news .box .details h3 a:hover,
	.vntd-testimonials-carousel h5,
	.pricing-box h1,
	.counter-color-accent .counter-value,
	.counter-color-accent .counter-title h6,
	.copyright a,
	.product-features .f-collapse div p a:hover,
	a.ajax-load-more-text:hover,
	.page-template-template-fullpage #navigation .nav-menu ul li a:hover,
	.page-template-template-fullpage #navigation .nav-menu ul li.active a,
	#woo-nav-cart.nav-cart-active > a,
	#latest_tweets ul li a,
	.vntd-team.type-2 .team-boxes .member-details .socials a:hover,
	.nav-menu ul.dropdown-menu a:hover,
	.vntd-team.type-1 .team-boxes .member-details p.member-position,
	.footer.black-bg a:hover,
	 .footer.big-footer.dark-footer .copyright a,
	 #page-content .pricing-box h1.price,
	 #mobile-nav li a:hover {
		color: #E54343;
	}
	
	.current_page_item > a,
	.current-menu-ancestor > a,
	.current-menu-parent > a,
	.current-menu-item > a {
		color: #E54343 !important;
	}

/* Accent Background Colors */

	.colored-bg,
	.second-nav .nav-menu ul li:hover:after,
	body.dark-layout .news .box .details a.post_read_more_button:hover,
	.cbp-nav-pagination-active,
	.timeline-item-details .right-buttons a.read_more,
	.timelineFlat .item:before,
	.icon-box-big-centered-circle.box:hover .box-icon .changeable-icon,
	.icon-box-big-centered-square.box:hover .box-icon .changeable-icon:before,
	.cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active,
	.category-boxes .owl-buttons div:hover,
	.icon-box-medium-left-circle .box-icon .changeable-icon,
	ul.mobile-boxes li:hover div.mobile-icon a,
	ul.mobile-boxes li .buttons span,
	ul.mobile-boxes li .buttons span.second-icon:hover,
	.pricing-box.active a.price_button,
	.pricing-box a.price_button:hover,
	.contact-block-horizontal a.box:hover .button:hover,
	.contact-block-vertical a.box:hover .button:hover,
	.timelineFlat .item_open .t_close:hover,
	.home_boxes .boxes.white-boxes .box:hover,
	#pageloader.colored .spinner div,
	.home_boxes .boxes.dark-boxes .box:hover,
	.box:hover .box-button,
	.icon-box-big-centered-square.box:hover .box-icon .changeable-icon,
	.box.icon-box-medium-left-square:hover .box-icon,
	.team-boxes .member-details .member-more:hover,
	.timelineFlat a.t_line_node.active:after,
	#member-modals .modal-dialog a.close:hover,
	.contact .contact_form .wpcf7-submit,
	.contact .contact_form.type-2 .wpcf7-submit:hover,
	.contact-block-horizontal a.box:hover .texts:before,
	.contact-block-horizontal a.box:hover .texts span.arrow:before,
	.contact-block-horizontal a.box:hover .texts span.arrow:after,
	.icon-box-medium-left-circle.box:hover .box-icon .changeable-icon.dark-icon,
	.news .box .details a.post_read_more_button:hover,
	#team.type-2 .team-boxes .member-details .member-more:hover,
	.colored-list li:before,
	#portfolio-items.colored-hover .item,
	.colored-hover .item,
	.load-more-button.circle-button:hover,
	#shop .box .item_image span.more:hover,
	#shop .single_item_details .right a:hover,
	.colored-bg-hover:hover,
	.widget ul.categories li:hover,
	.sidebar .widget a.tag:hover,
	.post .post-inner .post-more:hover,
	.dark-btn:hover,
	.colored-btn,
	.colored-icon,
	.dark-icon:hover,
	.icons-listing div:hover i,
	::selection,
	a.content-button:hover,
	body.dark-layout .contact .contact_form.type-2.white-form button:hover,
	#page-content .btn-accent,
	#page-content .btn-hover-accent:hover,
	#page-content .vc_progress-bar-color-accent .vc_bar,
	.widget .tagcloud a:hover,
	.widget.widget_recent_entries ul li:hover,
	.widget.widget_recent_comments ul li:hover,
	.widget.widget_archive ul li:hover,
	.widget.widget_categories ul li:hover,
	.widget ul li:hover,
	.reply-form #submit,
	#page-content .clients.testimonials .boxes .owl-pagination .owl-page.active,
	.counter-color-accent .counter-value:before,
	.vntd-team.type-2 .team-boxes .member-details .member-more:hover,
	#page-content .icon-box-medium-left-circle:hover .box-icon .changeable-icon.bg-accent2,
	#page-content .icon-box-medium-right-circle:hover .box-icon .changeable-icon.bg-accent2,
	.vntd-list-colored i.fa,
	.vntd-contact-form .wpcf7 .wpcf7-submit,
	ul.products .product-overlay:hover {
		background-color: #E54343;
	}

/* Border Colors */

	.colored-border,
	.timelineFlat a.t_line_node.active:after,
	ul.mobile-boxes li div.mobile-icon a,
	.icon-box-big-centered-square.box:hover .box-icon .changeable-icon:after,
	.contact *.error_warning,
	#shop .box .item_image span.more:hover:after,
	.sidebar .widget a.tag:hover,
	ul.mobile-boxes li:hover div.mobile-icon a:after,
	.icon-box-big-centered-circle .box-icon .changeable-icon:after,
	.widget .tagcloud a:hover,
	.contact .contact_form.type-2 .wpcf7-submit:hover {
		border-color:#E54343 !important;
	}
	
	.btn.border-btn.btn-accent,
	.btn-hover-accent:hover {
		border-color:#E54343;
	}

	.tabs .nav-tabs li.active a,
	#page-content .vc_progress-bar-color-accent .vc_label_units:after,
	#page-content .vntd-contact-block.contact-block-horizontal a.box:hover .texts span.arrow {
		border-top-color:#E54343;
	}
	
	.vntd-tour .nav-tabs li.active a,
	.icon-box-medium-left-square:hover .box-icon:after {
		border-left-color:#E54343;
	}
	
	#page-content .vntd-contact-block.contact-block-horizontal a.box:hover .texts span.arrow {
		border-bottom-color:#E54343;
	}
	
	
	
		.spinner,
	.cbp-popup-singlePage .cbp-popup-loadingBox {
		border-top-color: #E54343;
		border-left-color: #E54343;
		border-right-color: #E54343;
		border-bottom-color: transparent;
	}
	


/* Accent Color 2 (Default: Green) */

.color-accent2 {
	color: #f35050;
}

.btn-accent2,
.btn-hover-accent2:hover {
	background-color: #f35050;
}

.btn-hover-accent2:hover {
	border-color: #f35050;
}

#page-content .vc_progress-bar-color-accent .vc_bar {
	background: #E54343;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#E54343), color-stop(100%,#f35050));
}

#page-content .vc_progress-bar-color-accent .vc_label_units:after {
	border-top-color: #f35050;
}


/* Accent Color 3 */

<!--#page-content .btn-accent2,-->

a:hover {
	color: #222222 !important;
}

#page-content .btn-accent3,
#page-content .btn-hover-accent3:hover,
#page-content .vc_progress-bar-color-accent3 .vc_bar,
.reply-form #submit:hover,
#page-content .bg-accent3,
#page-content .btn-hover-accent3:hover {
	background-color: #222222;
}

#page-content .btn-hover-accent3:hover {
	border-color: #222222 !important;
}

#page-content .btn-hover-accent3:hover {
	border-color: #222222;
}

#page-content .vc_progress-bar-color-accent3 .vc_label_units:after {
	border-top-color: #222222;
}



.vc_row { border: 0px; }
	
/* Font Sizes */

